<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="https://example.com/image.svg%22%3E">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
   
    <title>Document</title>
</head>
<body>

    <nav>
        <ul>
            
         <li>
            <a href="../form/register">Registrate</a>
         </li>

         <li>
            <a href="../form/login">Logueate</a>
         </li>

         <li>
               <a href="/">Productos</a> 
         </li>

         <li>
               <a href="cart">Carrito</a>
         </li>

         <li>
            <a href="/api/form/perfil">Perfil</a>
         </li> 

        </ul>
        
    </nav>

    <p ></p>
     
    <h1>Carrito</h1>
       <% cart.forEach(element => { %>
        <p>Titulo: <%= element.titulo %> </p>
        <img src=<%= element.imagen %>>
        <p>Precio: <%= element.precio %></p>
        <% }) %> 
   
    <button id="botonEliminarProductosCarrito" type="submit">Eliminar productos del carrito</button>    
    <button id="botonFinalizarCompra"  type="submit">Finalizar Compra</button>
        
    <script src="../../js/cart.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>
