<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
   
    <title>Document</title>
</head>
<body>

    <nav>
        <ul>
            <li>
               <a href="/">Formulario</a> 
            </li>
    
            <li>
               <a href="/render">Datos Enviados</a> 
            </li>

            <li>
                <a href="/chat">Chat</a> 
             </li>
        </ul>
    </nav>



<div class="containerPadre"> 
    <div class="containerTitleChat">
        <h1 class="titleChat">Chat</h1>
    </div>
    
    <div class="container-chat">
        <p id="panelLog"></p> 
    </div>

    <div class="container-hodlerChat">
        <input id="placeholderChat"> <button id="buttonChat" type="button" class="btn btn-dark">Enviar</button>
    </div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>

</body>
</html>