<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="https://cdn-icons-png.flaticon.com/512/149/149229.png">
    <title>Document</title>
</head>
<body>
    
    <input style="margin: 2% 0 2% 1%; height: 34px; width: 117px; font-size: 19px; font-family: 'Times New Roman', Times, serif; cursor: pointer;" type="button" onclick="history.back()" name="volver atrás" value="Volver atrás">

    <h1 style="text-align: center; margin-bottom: 6%;">Error al redireccionarte de sección</h1>

    <p style="text-align: center;">Eres admin, y por lo tanto, no tienes asignado un carrito para compras.</p>
    <p style="text-align: center;">Debes inicar sesion en tu cuenta de usuario <a href="login">aqui</a> para tener un carrito disponible y poder realizar compras.</p>
    <p style="text-align: center;">Si no tienes una cuenta de usuario, registrate <a href="register">aqui</a></p>

</body>
</html>