<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="https://example.com/image.svg%22%3E">
    <title>Document</title>
</head>
<body>

    
    <form id="chat">

        <label for="text">Email</label>
        <input type="text" name="Email">
        <label for="text">Nombre</label>
        <input type="text" name="nombre">
        <label for="text">Apellido</label>
        <input type="text" name="apellido">
        <label for="text">Edad</label>
        <input type="text" name="edad">
        <label for="text">Alias</label>
        <input type="text" name="alias">
        <label for="text">Avatar</label>
        <input type="text" name="avatar">
        <label for="text">Texto</label>
        <input type="text" name="text">
     
    
        <button type="submit">Enviar</button>
    
    </form>

    

    <script src="/socket.io/socket.io.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/chat.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    


</body>
</html>