<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="https://cdn-icons-png.flaticon.com/512/149/149229.png">
    <title>Document</title>
</head>
<body>

    <nav>
        <ul>
            <li>
               <a href="/">Formulario</a> 
            </li>

            <li>
                <a href="/chat">Chat</a> 
             </li>

             <li>
                <a href="perfil">Perfil</a>
             </li>

             <li>
               <a href="../carrito/cart">Carrito</a>
            </li>

             <li>
                <a href="register">Registrate</a>
             </li>

             <li>
                <a href="login">Logueate</a>
             </li>

        </ul>
    </nav>
    
    <h1>Tu perfil</h1>

    <p>Nombre: <%= perfil.name %> </p>
    <p>Email: <%= perfil.email %></p>
    
    <div>
    <p>Foto de perfil:</p>
    <img src=<%= perfil.image %>>
    </div>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</body>
</html>
