<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="https://example.com/image.svg%22%3E">
    <title>Document</title>
</head>
<body>
    
    <h1>Form para registrarse</h1>

<form id="formRegisterUsers">

    <label>Nombre</label>
    <input name="nombre">
    <label>Apellido</label>
    <input name="apellido">
    <label>Correo electronico</label>
    <input name="email">
    <label>Contraseña</label>
    <input name="password">
    <input type="submit">
</form>

<p>Si ya estas registrado logueate <a href="./login">aqui</a></p>

<script src="../../js/register.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</body>
</html>

