<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    
<nav>
    <ul>
        <li>
           <a href="/">Formulario</a> 
        </li>

        <li>
           <a href="/render">Datos Enviados</a> 
        </li>
    </ul>
</nav>


<h1>Objetos enviados mediante el formulario</h1>

<% arrayProductos.forEach(element => { %>
        <img src= <%= element.imagen %>  alt="Imagen de Producto">
        <p><%= element.nombre %> </p>
        <p><%= element.marca %> </p>
        <p><%= element.precio %> </p>
<% }) %>

</body>
</html>