body{
    background: gray
}

.nombreUser{
    font-family: monospace;
    font-size: large;
    color: white;
}

.containerPadre{
    text-align: center;
    background-color: #101010;
    height: 700px;
    width: 50%;
    margin: auto;
    overflow-y: scroll;
}

.container-hodlerChat{
    height: 24px;

}


#panelLog{
    font-family: monospace;
    font-size: large;
    color: #e51616;
    text-align: initial;
    margin-left: 22px;
}

#placeholderChat{
    height: 100%;
    width: 50%;    
    margin-right: 2%;
    border-radius: 13px;

}

.btn-dark{
    cursor: pointer;
    border-radius: 40px;
}

.container-chat{
    height: 76%;
    width: 98%;
    margin-top: 50px;
}

.containerTitleChat{
    background-color: antiquewhite;
    display: flex;
    height: 75px;
    align-items: center;
    justify-content: center;
}