body{
    background: gray
}

.nombreUser{
    font-family: monospace;
    font-size: large;
    color: white;
}

.containerPadre{
    text-align: center;
    background-color: #101010;
    height: 700px;
    width: 50%;
    margin: auto;
    overflow-y: scroll;
}

#panelLog{
    font-family: monospace;
    font-size: large;
    color: #e51616;
    text-align: initial;
    margin-left: 22px;
}

.btn-dark{
    cursor: pointer;
    border-radius: 40px;
}

